In [1]:
#Q1. Create a function that takes a number as an argument and returns True or False depending on whether the number is
#    depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
#   Examples:
#        is_symmetrical(7227) : True
#        is_symmetrical(12567) : False
#        is_symmetrical(44444444) : True
#        is_symmetrical(9939) : False
#        is_symmetrical(1112111) : True

In [6]:
def is_symmetrical(in_num):
    if str(in_num) == str(in_num)[::-1]:
        print(f"{in_num} : {True}")
    else:
        print(f"{in_num} : {False}")
is_symmetrical(7227)
is_symmetrical(12567) 
is_symmetrical(44444444) 
is_symmetrical(9939) 
is_symmetrical(1112111)

7227 : True
12567 : False
44444444 : True
9939 : False
1112111 : True

In [7]:
#Q2. Given a string of numbers separated by a comma and a space,return the product of the numbers.
#     Examples:
#        multiply_nums("2,3") : 6
#        multiply_nums("1,2,3,4") : 24
#        multiply_nums("54,75,453,0") : 0
#        multiply_nums("10,-2") : -20

In [22]:
def multiply_nums(in_string):
    out_string = in_string.replace(' ',' ').split(',')
    out_num = 1
    for i in out_string:
        out_num *= int(i)
    print(f"{in_string} : {out_num}")
  
multiply_nums("2,3")
multiply_nums("1,2,3,4")
multiply_nums("54,75,453,0") 
multiply_nums("10,-2")

2,3 : 6
1,2,3,4 : 24
54,75,453,0 : 0
10,-2 : -20

In [23]:
#Q3. Create a function that squares every digit of a number.
#    Examples:
#        square_digits(9119) : 811181
#        square_digits(2483) : 416649
#        square_digits(3212) : 9414
#    Notes:
#        The function receives an integer and must return an integer

In [25]:
def square_digits(in_num):
    in_list = [str(int(i)**2)  for i in str(in_num)]
    out_list = ''.join(in_list)
    print(f"{in_num} : {out_list}")
square_digits(9119) 
square_digits(2483) 
square_digits(3212)

9119 : 811181
2483 : 416649
3212 : 9414

In [33]:
#Q4.Create a function that sorts a list and remove all duplicate items from it.
#    Examples:
#        setify([1,3,3,5,5]) : [1,3,5]
#        setify([4,4,4,4]) : [4]
#        setify([5,7,8,9,10,15]) : [5,7,8,9,10,15]
#        setify([3,3,3,2,1]) : [1,2,3]

In [34]:
def setify(in_list):
    out_list = sorted(set(in_list))
    print(f"{in_list}: {out_list}")
setify([1,3,3,5,5]) 
setify([4,4,4,4]) 
setify([5,7,8,9,10,15])
setify([3,3,3,2,1])

[1, 3, 3, 5, 5]: [1, 3, 5]
[4, 4, 4, 4]: [4]
[5, 7, 8, 9, 10, 15]: [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1]: [1, 2, 3]

In [35]:
#Q5. Create a function that returns a mean of all digits.
#    Examples:
#        mean(42) : 3
#        mean(12345) : 3
#        mean(666) : 6
#    Notes:
#        1. The mean of all digits is the sum of digits/how many digits there are(e.g.mean of digit in 512 is (5+1+2)/3(number 
#            of digits)=8/3=2)

In [40]:
def mean(in_num):
    in_list = [int(i) for i in str(in_num)]
    out_num = sum(in_list)/len(str(in_num))
    print(f"{in_num}: {out_num}")
mean(42)
mean(12345)
mean(666)

42: 3.0
12345: 3.0
666: 6.0